.m34gloss-letters-nav {
	margin: 0;
	padding: 0;
	list-style: none outside none;
}
.m34gloss-letters-nav li {
	display: inline-block;
}
.m34gloss-letters-nav li a {
	padding: 6px;
	margin-right: 6px;
	background-color: #87cdde;
	color: #fff;
}
.m34gloss-letters-nav li a:hover {
	background-color: #5fbcd3;
}
.m34gloss-groups-nav {
	margin: 0 0 0 12px;
	padding: 0;
	list-style: none outside none;
	display: inline-block;
}
.m34gloss-groups-nav li {
	display: inline-block;
}
.m34gloss-groups-nav li a {
	margin-right: 12px;
	color: #87cdde;
	font-weight: normal;
}
.m34gloss-groups-nav li a:hover {
	color: #5fbcd3;
}
